
@import url(https://fonts.googleapis.com/css?family=Tahoma:regular,700);

$fontfamily: "Tahoma", sans-serif;

@import "_nullstyle";

body {
	width: 100%;
	background: linear-gradient(90deg, #ec9edb, #d6c3c3);
	font-family: $fontfamily;
	font-weight: 400;
}


.header {
	padding: 15px 0 10px;

	&__title {
		text-align: center;
		font-weight: 700;
		font-size: 40px;
		line-height: 48px;
		color: rgb(110, 4, 4);
	}
}

.footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	padding: 15px;
	gap: 15px 50px;
	color: rgb(49, 49, 49);

	&__telegram {}

	&__cr {}
}

.page {
	//display: flex;
	//flex-wrap: wrap;
	//justify-content: center;
	//align-items: flex-start;
	//gap: 20px 50px;
	margin: 0 auto;
	max-width: 750px;
	padding: 15px;
}

.title {
	margin-bottom: 15px;
	padding-bottom: 10px;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
}

.story__list-item {
	list-style-type: decimal;
}