@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Tahoma", sans-serif;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Tahoma", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

* li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
/*--------------------*/
body {
  width: 100%;
  background: linear-gradient(90deg, rgba(241, 211, 235, 0.4431372549), rgba(228, 222, 222, 0.5882352941));
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  overflow-wrap: break-word;
}

.fixed {
  overflow: hidden;
}

.header {
  padding: 15px 0 10px;
}
.header__title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: rgb(110, 4, 4);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 15px;
  gap: 15px 50px;
  color: rgb(49, 49, 49);
}
.page {
  margin: 0 auto;
  max-width: 780px;
  padding: 15px;
}

.title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.input {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px 50px;
}
@media (max-width: 779px) {
  .input {
    margin-bottom: 10px;
  }
}
.input__form {
  position: relative;
}
.input__value-wrapper {
  margin-bottom: 10px;
  width: 350px;
  border: 1px solid green;
  border-radius: 5px;
}
.input__value-wrapper:focus-within {
  border: 1px solid black;
}
.input__value, .input__categories {
  padding: 5px;
  background-color: inherit;
  font-size: 16px;
  line-height: 20px;
}
.input__value {
  width: 310px;
}
.input__categories {
  margin-bottom: 10px;
  width: 350px;
  border: 1px solid green;
  border-radius: 5px;
}
.input__categories:focus {
  border: 1px solid black;
}
.input__value-currency {
  font-size: 16px;
  line-height: 20px;
}
.input__explanation {
  position: absolute;
  top: 80px;
  left: 0;
  max-width: 700px;
  color: rgb(15, 49, 15);
}
.input__explanation p {
  padding: 2px;
  font-size: 12px;
  font-style: oblique;
  color: rgb(197, 6, 6);
}
.input__teg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.input__button {
  margin-bottom: 10px;
  padding: 5px 40px;
  background-color: rgb(64, 54, 155);
  border: 1px solid rgb(64, 54, 155);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  color: #eee;
}
.input__button:focus {
  border: 1px solid black;
}
.input__button:hover {
  background-color: rgb(31, 13, 190);
}
.input__error {
  width: 350px;
  height: 20px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgb(197, 6, 6);
}

.output__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px 50px;
}
@media (max-width: 779px) {
  .output__wrapper {
    justify-content: center;
  }
}

.status {
  width: 350px;
}
.status__limit, .status__sum {
  margin-bottom: 10px;
}
.status__output {
  margin-bottom: 30px;
}
.status__button {
  width: 22px;
  height: 22px;
  background: url("../resourses/img/change.svg") center/contain no-repeat;
}
.status__button:hover {
  background-color: rgba(247, 120, 120, 0.2);
}
.status__limit-value, .status__sum-value, .status__limit-currency, .status__sum-currency, .status__output-conclusion {
  font-size: 16px;
  line-height: 20px;
}
.status__output-conclusion {
  font-weight: 700;
  color: darkgreen;
}
.status__output-conclusion-warn {
  color: crimson;
}

.limit {
  position: relative;
  margin: auto;
  padding: 20px;
  background: #ccc;
  border: 1px solid #7c7a7a;
  border-radius: 10px;
  animation: fadeIn 350ms ease-in-out;
}
.limit::backdrop {
  background-color: rgba(49, 49, 49, 0.8);
}
.limit__title {
  margin-bottom: 30px;
}
.limit__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 30px;
}
.limit__value-wrapper {
  width: 250px;
  background-color: lightcyan;
  border: 1px solid green;
  border-radius: 5px;
}
.limit__value-wrapper:focus-within {
  border: 1px solid black;
}
.limit__value {
  padding: 5px;
  background-color: inherit;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
}
.limit__value-currency {
  font-size: 16px;
  line-height: 20px;
}
.limit__add-button {
  padding: 5px 20px;
  background-color: rgb(64, 54, 155);
  border: 1px solid rgb(64, 54, 155);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #eee;
}
.limit__add-button:focus {
  border: 1px solid black;
}
.limit__add-button:hover {
  background-color: rgb(31, 13, 190);
}
.limit__close-button {
  position: absolute;
  top: 22px;
  right: 20px;
  width: 30px;
  height: 20px;
  background: url("../resourses/img/icon/close.svg") center/contain no-repeat;
}
.limit__close-button:hover {
  height: 22px;
}
.limit__value-error {
  margin-top: 10px;
  height: 24px;
  padding: 4px;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: rgb(197, 6, 6);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.story {
  width: 350px;
}
.story__button-clear {
  margin-bottom: 10px;
  padding: 5px 20px;
  background-color: rgb(189, 38, 38);
  border: 1px solid rgb(189, 38, 38);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #eee;
}
.story__button-clear:focus {
  border: 1px solid black;
}
.story__button-clear:hover {
  background-color: rgb(216, 13, 13);
}
.story__output {
  height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  /* "auto" или "thin"  */
  scrollbar-color: #7c7a7a #dd9ae6;
  /* плашка скролла и дорожка */
}
.story__output::-webkit-scrollbar {
  width: 10px;
  /* ширина scrollbar */
}
.story__output::-webkit-scrollbar-track {
  background: #dd9ae6;
  /* цвет дорожки */
  border-radius: 50px;
  /* закругления дрожки */
}
.story__output::-webkit-scrollbar-thumb {
  background-color: #7c7a7a;
  /* цвет плашки */
  border-radius: 50px;
  /* закругления плашки */
  border: 2px solid #dd9ae6;
  /* padding вокруг плашки */
}
.story__list {
  display: flex;
  flex-direction: column;
}
.story__list-item {
  margin-bottom: 5px;
  list-style-type: decimal;
  list-style-position: inside;
  font-size: 14px;
  line-height: 18px;
}